.input_notification {
  display: flex;
  margin-bottom: 20px;
}
.input_notification input[type="text"] {
  width: 80%;
  height: 60px;
  padding: 10px;
  outline: none;
  border: 2px solid #000;
  border-radius: 20px;
}
.input_notification button {
  width: 20%;
  margin-left: 10px;
  outline: none;
  border: none;
  background: #00c972;
  color: white;
  padding: 15px;
  border-radius: 20px;
}

.action button {
  width: 100%;
  outline: none;
  border: none;
  background: red;
  color: white;
  padding: 15px;
}
