.task_container {
  width: 100%;
  position: relative;
  background: #fff;
}
.task_brands {
  display: flex;
  padding: 10px;
}
.active_member {
  background: red;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
.task_brand {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
.active_task {
  background: red;
}
.active_task h3 {
  color: #fff;
}
.membership_lists {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}
.membership_item {
  width: 100px;
  margin: 5px;
  padding: 10px;
}
.task_lists {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.task_item {
  background: #fff;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
.task_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.task_top_left {
  display: flex;
}
.task_top_left img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.task_top_left_data {
  display: flex;
  flex-direction: column;
}
.task_top_left_data h4 {
  color: black;
}
.task_top_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.task_serial p {
  border: 2px solid #b40649;
  border-radius: 20px;
  padding: 5px;
}
.task_price h4 {
  font-weight: bolder;
  color: #b40649;
  text-align: right;
}
.task_top {
  border-bottom: 2px solid #000;
}

.task_bottom {
  margin-top: 10px;
  align-items: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}

.bottom_left h4 {
  font-size: 18px;
  font-weight: bolder;
}
.bottom_right button {
  outline: none;
  padding: 10px;
  color: white;
  width: 100px;
  background: red;
  font-weight: bolder;
  border: none;
}

@media only screen and (max-width: 720px) {
  .task_top_left img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .task_top_left_data h4 {
    color: black;
    font-size: 18px;
    margin-right: 5px;
    box-shadow: none;
  }
}
